/**.chart {
    width: 600px;
    height: 600px;
}*/
body{
    background: #eee;
}
.Chart1 {
    height: auto;
    position: relative;
    border-radius: 10px ;
    box-shadow: 5px 5px 5px gray;
} 

.sidebar {
    /* background: gray; */
    min-width: 250px;
    max-width: 250px;
    height: auto;
}
.content{
    min-height: 100vh;
    width: 100%;
}
hr.h-color{
    background-color: #eee;
}



.sidebar li a{
    color: #fff;
}
.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
    
}
.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster {
	width: 60%;
	margin-bottom: 10px;
	border-radius: 15px;
}